.petProfile {
  /* border: 3px solid orange; */
}
.petProfile section:first-child {
  display: flex;

}
.petProfileForm {
  margin: 0 auto;
  margin-top: 10%;
}
.petProfileForm input {
  height: 30px;
  width: 60px;
  padding: 10px 10px;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid black;
}
.formSubTitle {
  display: inline;
  margin: 15px 15px 0 0;
  font-weight: 1000;
  width: 60px;
}

.submitButton {
  margin: 15px auto;
  display: table;
}
.submitButton button {
  margin-left: 10px;
  background: #f5a280;
  border-radius: 30px;
  font-weight: 1000;
  border: none;
  color: white;
  font-size: 14px;
  width: 80px;
  height: 40px;
}
.submitButton button:nth-child(1) {
  background-color: transparent;
  color: black;
  border: 1px solid #f5a280;
}
.submitButton button:hover {
  transform: scale(1.2);
}
.petGender {
  margin-left: 20px;
  background: transparent;
  border-radius: 30px;
  font-weight: 1000;
  border: 0.5px solid;
  color: black;
  font-size: 14px;
  width: 100px;
  height: 40px;
}
/* .petGender:hover {
        background: #F5A280;
        color: white;
  } */
.petImg {
  width: 250px;
  height: 250px;
  background-color: #e8e8e8;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  font-weight: 1000;
  /* margin-bottom: 0px; */
  object-fit: cover;
  display: block;
}
.block {
  display: block;
}
.petProfile p:last-child {
  display: block;
}
.select {
  /* width: 100%; 원하는 너비설정 */
  height: 40px;
  padding: 0.6em 0.1em; /* 여백으로 높이 설정 */
  font-family: inherit; /* 폰트 상속 */
  background: url('../../assets/SelectDropIcon.png') no-repeat 90% 50%; /* 네이티브 화살표 대체 */
  background-size: 10px;
  border: 1px solid #999;
  border-radius: 40px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display: none;
}
.imgLabel {
  width: 50px;
  height: 50px;
  top: 190px;
  background-color: #f5a280;
  border-radius: 25px;
  position: absolute;
  right: 10px;
  line-height: 50px;
  color: white;
  font-size: 30px;
  text-align: center;
}
.imgLabel label:hover {
  transform: scale(1.3);
}
.selcetBirth {
  display: flex;
  flex-direction: row;
  width: 90px;
  margin-left: 10px;
  color: rgb(37, 37, 37);
  font-size: 15px;
  padding-right: 10px;
}
.petPrifDisplay .selcet {
  width: 40%;
  color: rgb(37, 37, 37);
  font-size: 15px;
  margin: auto;
}
textarea {
  width: 89%;
  height: 10em;
  border: 1px solid black;
  border-radius: 12px;
  line-height: 20px;
  resize: none;
  padding: 1em 1em 1em;
  font-size: 15px;
  overflow: hidden;
}
.marginRight {
  margin-right: auto;
  margin-bottom: 10px;
}

.siasiadl {
  display: flex;
  flex-direction: row;
}
.petPrifDisplay {
  display: flex;
  flex-direction: row;
  margin: 15px 0 30px 0;
}
.petPrifDisplay .inputWidth {
  width: 250px;
}

.alret {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  color: #999;
}