.chatList {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  width: 35vw;
  margin: 5px 0;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
}

.chatList > img {
  width: 80px;
  height: 80px;
}

.chatList h1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.chatList span {
  font-size: 13px;
}

/*1200px이하*/
@media screen and (max-width: 1200px) {
  .chatList {
    width: 32vw;
  }
}

/*1000px이하*/
@media screen and (max-width: 1000px) {
  .chatList {
    width: 75vw;
  }
}

/*500px이하*/
@media screen and (max-width: 500px) {
  .chatList {
    padding: 10px 15px;
    width: 70vw;
  }
}
