.slick-list {
  height: 100%;
}

.slider {
  margin-bottom: 100px;
  width: 50vw;
  text-align: center;
}

@media screen and (max-width: 2200px) {
  .slider {
    width: 70vw;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .slider {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1500px) {
  .slider {
    width: 65vw;
  }
}
