.nav {
  padding: 36px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100vw - 72px);
  height: 7vh;
}

.nav > div:first-child {
  display: flex;
  align-items: center;
}

.nav > div > a > .logoIcon {
  width: 100px;
  margin-right: 20px;
}

.nav > div > .typeIcon {
  width: 45px;
  height: 45px;
}

.nav .btns {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .btns > button {
  border: none;
  background-color: transparent;
  font-size: 15px;
}
