.categoryHamburger {
  display: none;
}

.categoryHamburger #loginBtn {
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 10px;
}

 .categoryHamburger > .HamburgerDiv.open #loginBtn,
 .categoryHamburger > .HamburgerDiv.open > #logoutBtn
{
  border: none;
  background-color: transparent;
  font-weight: 600;
  margin-bottom: 15px;


}

.categoryHamburger > .HamburgerDiv > .link > a.active.basic > span {
  font-weight: 600;
  color: black;
}

.categoryHamburger > .HamburgerDiv > .link > a.active.puppy > span {
  font-weight: 600;
  color: #f5a280;
}

.categoryHamburger > .HamburgerDiv > .link > a.active.cat > span {
  font-weight: 600;
  color: #78aac3;
}

/*1000px이하*/
@media screen and (max-width: 1000px) {
  .categoryHamburger {
    display: block;
    z-index: 10;
    position: fixed;
    right: 30px;
    text-align: end;
    margin-top: 15px;
  }

  .categoryHamburger img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .categoryHamburger > .HamburgerDiv {
    display: none;
  }
  .categoryHamburger > .HamburgerDiv.open {
    display: block;
  }

  .categoryHamburger > .HamburgerDiv {
    font-size: 17px;
    font-weight: 600;
    margin-top: 25px;
  }

  .categoryHamburger > .HamburgerDiv > .link {
    margin-bottom: 15px;
  }
}

/*600px이하*/
@media screen and (max-width: 600px) {
  .categoryHamburger {
    display: block;
    width: 20vw;
    z-index: 10;
    position: fixed;
    margin-right: 20px;
    text-align: end;
  }

  .categoryHamburger {
    position: static;
  }

  .categoryHamburger > .HamburgerDiv {
    font-size: 13px;
  }
}
