.sellForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sellForm input {
    width: 70%;
    height: 30px;
    padding: 10px 10px;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid black;
}

.formSubTitle {
    margin-right: 15px;
    display: inline;
}

.submitButton {
    margin: 15px 16%;
    /* text-align: center; */
}

.submitButton button {
    background: #F5A280;
    border-radius: 30px;
    font-weight: 1000;
    border: none;
    color: white;
    font-size: 14px;
    width: 100px;
    height: 40px;
}
.submitButton button:hover {
    transform: scale(1.2);
}

.sellImges {
    width: 50%;
    height: 250px;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 1000;
    margin-bottom: 30px;
}

.sellImges div {
    line-height: 210px;
}

.sellImges div:hover {
    transform: scale(1.5);
}

 /* textarea {
    width: 87%;
    height: 6.25em;
    border: 1px solid black;
    border-radius: 12px;
    resize: none;
    padding: 1em 1em 1em 1em;
    font-size: 15px;
  } */


.sellectedPet {
box-sizing: border-box;
width: 550px;
height: 175px;
left: 569px;
top: 766px;
border: 1px solid #F5A280;
border-radius: 20px;
padding: 3% 3%;

}

.petImg {
    width: 150px;
    height: 140px;
    background-color: #ffe7c7;
    position: absolute;
    border-radius: 10px;
    
}

.petInfo {
    margin-left: 32%;
}

.petInfo p {
    margin-top: 15px;
}

.petInfo p:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}

.petLabel {
    margin-left: -78%;
    margin-bottom: 15px;
}

.marginBottom {
    margin-bottom: 15px;
}